/**
 * Recurring Date and Time Extension for Symphony CMS based on the date and
 * time extension by Nils Hoerrmann, post@nilshoerrmann.dde
 *
 * @author: Timothy Cleaver.
 * @date: March 2010
 */

/*
 * because the datetime.css uses !important, we need to too as otherwise this
 * won't override those in datetime.css
 */
.field-datetime span.end {
	border-top: 1px solid #c2c2c2 !important;
	margin: 2px 0 0 !important;
	padding-top: 12px !important;
}

.field-datetime span.end em {
	top: 15px !important;
}
